{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');
    body{
        background-image: url('https://images5.alphacoders.com/437/437048.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;   
        margin: 0;
        border: 0;
    }
    h3{
        color:black;
    }

</style>
<br>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Şifre Güncelle</h3>
        <form method="post" enctype="multipart/form-data" action=>
            {% csrf_token %}
            <!--  form.as_p yapıldıığında bootstrap4 kullanamadığımız için 3. parti bir uygulama indirerek böyle dahl ettik. -->
            {{form.media}}
            {{form|crispy}}
            <br>
            <!-- <a href="/changepassword2" class="btn btn-danger">Devam Et</a> -->
            <button type ="submit" class = "btn btn-danger" style="color:white">Güncelle</button>
        </form>
        <hr>
    </div>
</div

{% endblock %}